[Desktop Entry]
Type=Application
Name=Horizon Desktop Initializer
Exec=/usr/local/bin/horizon-desktop-init
OnlyShowIn=KDE;
X-KDE-autostart-phase=2
NoDisplay=true
