[Desktop Entry]
Type=Application
Name=Horizon Browse
GenericName=Web Browser
Comment=Private web browsing powered by Firefox ESR
Exec=firefox-esr --name HorizonBrowse %u
Icon=firefox-esr
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
